language: node_js
cache:
    directories:
        - ~/.npm
notifications:
    email: false
node_js:
    - "12"
    - "10"
    # - "8" - disabled: too old for commitizen
    # - '6' - disabled: semantic-release@15.12.2 requires node >=8.3
script:
    - npm run test:prod
after_success:
    - npm run travis-deploy-once "npm run report-coverage"
    - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run travis-deploy-once "npm run deploy-docs"; fi
    - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run travis-deploy-once "npm run semantic-release"; fi
branches:
    except:
        - /^v\d+\.\d+\.\d+$/
